@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
body {
    background-color: #000000;
    background-image: url(assets/webellis.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Tomorrow', sans-serif;

    @media screen and (max-width: 768px) { 
        background-attachment: fixed;
        background-position: 14% top;
        background-repeat: no-repeat;
        background-size: 300%;
    }
}


.logo {
    background: url(assets/logo.jpg);
    background-size: 100%;
    border-radius: 50%;
    height: 300px;
    position: absolute;
    right: 40px;
    top: 40px;
    width: 300px;

    @media screen and (max-width: 768px) {
        height: 100px;
        top: 10px;
        right: 10px;
        width: 100px;
    }
}


h1, h2, h3, h4, h5, a, div  {
    color: white;
    font-family: 'Tomorrow', sans-serif;
    margin: 0 auto;
    max-width: 100%;
    text-shadow: 2px 2px #444444;
    width: 1024px;
    

    @media screen and (max-width: 768px) {
        width: 700px;
    }
}

h2 {
    font-size: 40px;
    margin-top: 200px;

    @media screen and (max-width: 768px) {
        font-size: 32px;
        margin-top: 100px;    
    }
}

h3 {
    font-size: 24px;
    margin-top: 10px;
}

p {
    font-size: 24px ;
}


.pantalla {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    transition: ease-in-out .5s all;
    width: 1024px;
    
    @media screen and (max-width: 768px) {
        padding: 20px;
        width: 700px;
    }

    &.oculta {
        opacity: 0;
        display: none;
    }
}

.candidatos {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

    .candidato {
        box-sizing: border-box;
        margin: 10px;
        transition: ease-in-out .5s all;
        width: 150px;

        @media screen and (max-width: 768px) {
            width: 300px;
        }

        &__img {
            background-size: cover;
            border: 10px white solid;
            border-radius: 50%;
            cursor: crosshair;
            height: 150px;
            width: 150px;

            @media screen and (max-width: 768px) {
                height: 250px;
                width: 250px;
            }
        }

        h4 {
            font-size: 20px;
            margin-top: 10px;
            text-align: center;
            transition: ease-in-out .5s all;
        }

        &:hover, &:focus {
            opacity: 0.8;
            transform: rotate(2deg) scale(1.2);

            .candidato__img {
                border: 10px gold solid;
            } 

            h4 {
                color: gold;
            }
        }



        &__pancracia-img {
            background-image: url(assets/pancracia.jpg);
        }

        &__camila-img {
            background-image: url(assets/camila.jpg);
        }
        
        &__mery-img {
            background-image: url(assets/mery.jpg);
        }

        &__jopi-img {
            background-image: url(assets/jopi.jpg);
        }

        &__luisa-img {
            background-image: url(assets/luisa.jpg);    
        }

        &__blue-img {
            background-image: url(assets/blue.jpg);    
        }

        &__kelly-img {
            background-image: url(assets/kelly.jpg);    
        }

        &__jenifer-img {
            background-image: url(assets/jenifer.jpg);    
        }

        &__tati-img {
            background-image: url(assets/tatiana.jpg);    
        }

        &__dani-img {
            background-image: url(assets/danny.jpg);    
        }

        &__e3-img {
            background-image: url(assets/e3.jpg);    
        }

        &__freiman-img {
            background-image: url(assets/freiman.jpg);    
        }

        &__sebas-img {
            background-image: url(assets/sebas.jpg);    
        }

        &__farid-img {
            background-image: url(assets/farid.jpg);       
        }

        &__chente-img {
            background-image: url(assets/alejandro.jpg);       
        }

        &__gato-img {
            background-image: url(assets/gato.jpg);       
        }

        &__david-img {
            background-image: url(assets/david.jpg);       
        }

        &__santos-img {
            background-image: url(assets/santos.jpg);       
        }

        &__leo-img {
            background-image: url(assets/leorubio.jpg);       
        }

        &__gus-img {
            background-image: url(assets/gus.jpg);       
        }

        &__carlitos-img {
            background-image: url(assets/carlos.jpg);       
        }


    }
}

.link {
    background: gold;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #444444;
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    transition: ease-in-out .5s all;
    width: 300px;

    &:hover, &:focus {
        background: orange;
    }

    @media screen and (max-width: 768px) {
        width: 80%;
    }
}

